<h2>Login</h2>

<form action="/login" method="post">
    Username<br>
    <input type="text" name="username" value="<%= @user && @user.username %>">
    <br><br>
    Pasword<br>
    <input type="password" name="password">
    <br><br>
    <input type="submit" value="Log In">
    
</form>