<h2>Login</h2>

<span class="flash"><%= flash[:message] %></span>
<span class="flash"><%= flash[:error] %></span>

<form action="/login" method="post">
    Username<br>
    <input type="text" name="username" value="<%= @user && @user.username %>">
    <br><br>
    Pasword<br>
    <input type="password" name="password">
    <br><br>
    <input type="submit" value="Log In">
    <br><br>
    <a href="/signup">New User?</a>
</form>