<%# <div class="Center"> %>
  <img src="images/wx1.gif" width="250px"><br>
  <h1><b>Hyperlocal</b> is a platform for amateur meteorologists and stormchasers.</h1><br>
  <% if !logged_in? %>
    <h2>
      <a href="/login">Log In</a> or
      <a href="/signup">Create An Account</a>
    </h2>
  <% else %>
  <% end %>
  <br><br>
<%# </div> %>