<h2>Welcome!</h2>

<% if !logged_in? %>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
<% else %>
    <a href="/reports/new">New Observation</a><br>
    <a href="/users/<%=current_user.id%>">My Observations</a><br>
    <a href="/reports/index">All Observations</a>
<% end %>