<h2>New Report</h2>
<form action="/reports" method="post">

    Current Conditions *<br>
    <input type="textarea" name="current_conditions">
    <br><br>
    Temperature<br>
    <input type="text" name="temperature">
    <br><br>
    Pressure<br>
    <input type="text" name="pressure">
    <br><br>
    Wind Speed<br>
    <input type="text" name="wind_speed">
    <br><br>
    Wind Direction<br>
    <input type="text" name="wind_direction">
    <br><br>
    Relative Humidity<br>
    <input type="text" name="relative_humidity">
    <br><br>
    Precipation Total<br>
    <input type="text" name="precipitation">
    <br><br>
    Cloud Cover<br>
    <input type="text" name="cloud_cover">
    <br><br>
    Cloud Type<br>
    <input type="text" name="cloud_type">
    <br><br>
    <input type="submit" name="submit" value="submit">
    <br><br>

    <p><small>* Required Field</small></p>

</form>